.login {
  display: flex;
  justify-content: center;
}

.login-left {
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  object-fit: cover;
  margin-right: 100px;
}

h3 {
  color: white;
}
h5 {
  color: #a6a2a2;
}

.login-left-wrapper {
  margin-top: 0px;
}

.login-right {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  justify-content: center;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-top: 20px;
}

.login-btn {
  width: 250px;
  margin-top: 25px;
  color: white;
  background-color: blue;
  height: 30px;
  border-radius: 20px;
}

.signup-desc {
  margin-top: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 720px) {
  .login {
    flex-direction: column;
  }

  .login-left-wrapper {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3,
  h5,
  h2 {
    text-align: center;
  }
  .login-right-wrapper {
    align-items: center;
    justify-content: center;
  }

  .login-right {
    margin-left: 0px;
    align-items: center;
    margin-top: 25px;
  }

  .email,
  .password {
    align-items: center;
    justify-content: center;
  }
}
